<!-- Most of this is taken from: https://material.angular.io/components/table/overview -->
<div class="flavor-table mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">
    <!-- Votes Column -->
    <ng-container cdkColumnDef="votes">
      <md-header-cell *cdkHeaderCellDef> Votes </md-header-cell>
      <md-cell class="votes" *cdkCellDef="let row"> {{row.votes}} </md-cell>
    </ng-container>

    <!-- Image Column -->
    <ng-container cdkColumnDef="image">
      <md-header-cell *cdkHeaderCellDef> Image </md-header-cell>
      <md-cell *cdkCellDef="let row"> <img class="flavor" src="{{row.imageUrl}}"> </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <!-- Voting Column -->
    <ng-container cdkColumnDef="like">
      <md-header-cell *cdkHeaderCellDef> </md-header-cell>
      <md-cell class="buttons-container" *cdkCellDef="let row">
        <button [disabled]="disabled[row.$key]" class="vote-button" (click)="addVote(row.$key)" md-mini-fab>
          <md-icon>thumb_up</md-icon></button>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row [@pulse]="pulseState" *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>

<a routerLink='/new'><button class="add-button" md-fab><md-icon>add</md-icon></button></a>